/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

.f-left {
  float: left;
}
.f-right {
  float: right;
}
.clear-fix {
  clear: both;
}

.container {
  width: 80%;
  margin-inline: auto;
}

/* NAVBAR STYLES */
#nav-bar {
  background-color: #f5f3ff;
  border: 1px solid #dcd7ff;
  padding-block: 10px;
  position: fixed;
  z-index: 99;
  width: 100%;
}

#nav-bar .container {
  vertical-align: middle;
}

#nav-bar .nav-logo {
  font-size: 24px;
  font-weight: 700;
}
#nav-bar .nav-logo i {
  display: inline-block;
  width: 50px;
  padding: 12px 10px;
  border-radius: 8px;
  background-color: #8e51ff;
  color: white;
}
#nav-bar .nav-logo p {
  display: inline-block;
  margin-block: 0;
}

#nav-bar .nav-links li {
  display: inline-block;
  margin-inline: 10px;
  font-weight: 500;
  transition: all 0.3s;
  margin-top: 15px;
}

#nav-bar .nav-links li:first-child {
  border-bottom: 2px solid #7e23fe;
  color: #7e23fe;
}

#nav-bar .nav-links > li:not(li:first-child):hover {
  color: #7e23fe;
}

/* Hero Styles */

#hero {
  padding-block: 100px;
}

#hero .hero-img {
  width: 40%;
  padding: 20px;
  border-radius: 24px;
  border: 2px solid #98a3b14d;
}

#hero .hero-img .img-wrapper {
  border-radius: 16px;
  overflow: hidden;
}

#hero .hero-content {
  width: 50%;
  color: #323233;
}

#hero .hero-content > .pros > span {
  padding: 4px 12px;
  background-color: #a784fe;
  margin-right: 10px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

#hero .hero-content > .title > h1 {
  font-size: 48px;
  font-weight: 700;
  margin-block: 10px 20px;
}

#hero .hero-content > h1 > span {
  color: #8e51ff;
}

#hero .hero-content > .title > p {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 32.5px;
}

#hero .hero-content > .prices {
  margin-bottom: 20px;
}

#hero .hero-content > .prices > p {
  margin-block: 20px;
}

#hero .hero-content > .prices > span:first-child {
  font-size: 36px;
  font-weight: 700;
  margin-inline-end: 10px;
  vertical-align: middle;
}
#hero .hero-content > .prices > span:nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  margin-inline-end: 10px;
  vertical-align: middle;
  text-decoration: line-through;
}

#hero .hero-content > .prices > span:nth-child(3) {
  vertical-align: middle;
  font-size: 14px;
  font-weight: 700;
  background-color: #fee3e2;
  padding: 4px 12px;
  color: #e6010b;
  border-radius: 25px;
}

#hero .hero-content > .hero-btns > button {
  width: 100%;
  border-radius: 30px;
  border: none;
  padding-block: 20px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s;
}
#hero .hero-content > .hero-btns > button:hover {
  transform: scale(1.035);
}
#hero .hero-content > .hero-btns > button:first-child {
  color: white;
  background-color: #8e51ff;
  margin-block: 15px;
}
#hero .hero-content > .hero-btns > button:last-child {
  background-color: transparent;
  border: 2px solid #d1d5dc;
}

/* Start specifications Style */

#specifications {
  background-color: #f7f5ff;
  padding-block: 50px;
  color: #333333;
}

#specifications .title {
  text-align: center;
}
#specifications .title > h2 {
  font-size: 36px;
  font-weight: 700;
}
#specifications .title > h2 > span {
  color: #8e51ff;
}

#specifications .title > h2 + p {
  font-size: 20px;
  margin-block: 20px;
}

#specifications table {
  width: 100%;
  background-color: #ffffff;
  padding: 50px;
  border: #d1d5dc 2px solid;
  border-radius: 24px;
  border-spacing: 0;
}

#specifications table th,
#specifications table td {
  padding: 20px;
  border-bottom: 1px solid #edeef1;
}

#specifications table th {
  border-bottom: 2px solid #dadee3;
}

#specifications table th {
  text-align: start;
}

#specifications tr > th:not(th:first-child),
#specifications tr > td:not(td:first-child) {
  text-align: center;
}

#specifications span,
i {
  margin-right: 2px;
}

.oval {
  background-color: #8e51ff;
  border-radius: 50px;
  padding: 10px;
}

#specifications tr td:nth-child(2) {
  font-size: 14px;
  font-weight: 600;
  color: white;
}
#specifications table tfoot td p {
  margin-top: 10px;
}
#specifications table tfoot tr td {
  border-bottom: none;
}

i[class="fa-solid fa-star"] {
  color: #fdc700;
}

#specifications table tfoot tr td:not(td:nth-child(2)) p {
  font-weight: 600;
}

#specifications table thead tr th p {
  font-size: 14px;
  font-weight: 700;
  color: #6a7282;
  margin-block: 10px;
}

#specifications table thead th:nth-child(2),
#specifications table tr td:nth-child(2) {
  background-color: #ede9fe;
}

#specifications table thead th:nth-child(2) {
  border-radius: 16px 16px 0 0;
}
#specifications table tfoot tr td:nth-child(2) {
  border-radius: 0 0 16px 16px;
}

#specifications
  table
  tbody
  tr:last-child
  td:not(td:first-child):not(td:nth-child(2)) {
  font-size: 20px;
  font-weight: 600;
}

#specifications .winner {
  margin-top: 30px;
  width: 30%;
  margin-inline: auto;
  padding: 20px;
  border-radius: 16px;
  border: 1px #e5e7eb solid;
  background-color: white;
  color: #00c950;
}

#specifications .winner .winner-text {
  float: left;
  margin-left: 10px;
}

/* Start reviews style */

#reviews {
  background-color: #ffffff;
  padding-block: 50px;
  color: #333333;
}

#reviews .title {
  text-align: center;
  margin-bottom: 50px;
}

#reviews .title h2 {
  margin-block: 20px;
  font-size: 36px;
  font-weight: 700;
}

#reviews .title h2 + p {
  font-size: 20px;
}

#reviews .reviews {
  width: 65%;
}

#reviews .reviews .review .person .img-wrapper {
  width: 55px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #a684ff;
  float: left;
  margin-right: 20px;
}

#reviews .reviews .review .person .person-details {
  float: left;
}

#reviews .reviews .review .person .person-details h4 {
  font-size: 18px;
  font-weight: 700;
}
#reviews .reviews .review .person .person-details p:nth-child(2) {
  margin-block: 5px;
}
#reviews .reviews .review .person .person-details p:last-child {
  font-size: 14px;
  font-weight: 400;
}

#reviews .reviews {
  float: right;
}
#reviews .rating {
  float: left;
}

#reviews .reviews .review {
  position: relative;
  padding: 32px;
  border-radius: 16px;
  border: 2px #e5e7eb solid;
  margin-bottom: 30px;
}

#reviews .reviews .review blockquote {
  margin-top: 20px;
  line-height: 30px;
  font-size: 18px;
}

#reviews .reviews .review > .status-badge {
  position: absolute;
  top: 30px;
  right: 20px;
  text-align: right;
  font-size: 12px;
}

#reviews .reviews button {
  background-color: #8e51ff;
  border: solid 2px #8e51ff;
  color: white;
  font-weight: 600;
  padding: 16px 32px;
  border-radius: 100px;
  cursor: pointer;
  display: block;
  margin-inline: auto;
  transition: all 0.3s;
}

#reviews .reviews button:hover {
  background-color: #ffffff;
  color: #8e51ff;
}

#reviews .reviews .review > .status-badge > p:first-child {
  font-weight: 600;
  background-color: #ede9fe;
  color: #5d0ec0;
  border-radius: 50px;
  padding: 4px 12px;
}

#reviews .rating {
  position: sticky;
  top: 50px;
  width: 31%;
  padding: 32px;
  border-radius: 24px;
  border: solid 2px #e5e7eb;
}
#reviews .rating > .total-rate {
  text-align: center;
}
#reviews .rating > .total-rate > h4 {
  font-size: 60px;
  font-weight: 700;
}
#reviews .rating > .total-rate > h4 ~ i {
  font-size: 20px;
  margin-block: 10px;
}
#reviews .rating > .total-rate > p {
  font-weight: 500;
}

#reviews .rating .rate-bars {
  text-align: start;
}

#reviews .rating .rate-bars .rate-bar span {
  display: inline-block;
}

#reviews .rating .rate-bars .rate-bar {
  margin-block: 20px;
}

#reviews .rating .rate-bars .rate-bar .loading-bar {
  display: inline-block;
  width: 230px;
  height: 10px;
  border-radius: 100px;
  background-color: #e5e7eb;
}

#reviews .rating .rate-bars .rate-bar .loading-bar > .complete {
  width: 78%;
  height: 100%;
  border-radius: 100px;
  background-color: #f0b100;
}

#reviews .rating .rate-bars .rate-bar:nth-child(2) .loading-bar > .complete {
  width: 15%;
  height: 100%;
  border-radius: 100px;
  background-color: #f0b100;
}

#reviews .rating .rate-bars .rate-bar:nth-child(3) .loading-bar > .complete {
  width: 5%;
  height: 100%;
  border-radius: 100px;
  background-color: #f0b100;
}

#reviews .rating .rate-bars .rate-bar:nth-child(4) .loading-bar > .complete {
  width: 1.5%;
  height: 100%;
  border-radius: 100px;
  background-color: #f0b100;
}

#reviews .rating .rate-bars .rate-bar:last-child .loading-bar > .complete {
  width: 0.5%;
  height: 100%;
  border-radius: 100px;
  background-color: #f0b100;
}

#reviews .rating .statistics {
  border-top: 1px solid black;
  margin-top: 30px;
  padding-top: 30px;
  text-align: center;
}

#reviews .rating .statistics div:first-child {
  float: left;
  margin-left: 20px;
}

#reviews .rating .statistics div:nth-child(2) {
  margin-right: 20px;
  float: right;
}

#reviews .rating .statistics div p:first-child {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
#reviews .rating .statistics div p:last-child {
  font-size: 14px;
}
